<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center><h1><i><u>Hello this is my heading1</u></i></h1></center>
   <hr/>
   <h2>helllo this is my &nbsp;&nbsp;&nbsp;heading2</h2>
   <h3>helllo this is my heading2</h3>
   <h4>helllo this is my heading2</h4>
   <h5>helllo this is my heading2</h5>
   <h6>helllo this is my heading2</h6>
   <p>Hello this is my first paragraph</p>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/> Molestiae sunt laboriosam eos aperiam id, odio nesciunt minima corrupti ad nam laborum, sapiente fugiat. Non deleniti dolore laudantium enim a sequi?</p>

</body>
</html>